---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '@fontsource-variable/fredoka'
import '../styles/global.css'

const { title, description } = Astro.props
---

<!doctype html>
<html lang='en' class='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content={description} />
    <meta
      name='keywords'
      content='Maicol Paucar, Desarrollador Web, Programador Web, Portafolio, Software Engineer, Full Stack Developer'
    />
    <meta name='author' content='Maicol Paucar' />
    <meta name='theme-color' content='#ffffff' />
    <meta name='color-scheme' content='light dark' />
    <meta name='robots' content='index, follow' />
    <meta name='googlebot' content='index, follow' />
    <meta name='msapplication-TileColor' content='#ffffff' />
    <meta name='msapplication-TileImage' content='favicon.svg' />
    <meta name='application-name' content='Maicol Paucar - Portafolio' />
    <meta
      name='apple-mobile-web-app-title'
      content='Maicol Paucar - Portafolio'
    />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-status-bar-style' content='default' />
    <meta name='mobile-web-app-capable' content='yes' />
    <meta name='format-detection' content='telephone=no' />
    <meta name='msapplication-config' content='browserconfig.xml' />
    <meta name='theme-color' content='#ffffff' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@maicolpaucar' />
    <meta name='twitter:creator' content='@maicolpaucar' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta
      name='twitter:image'
      content='https://porfolio-maicolcode.vercel.app/maicolcode.webp'
    />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:url' content='https://porfolio-maicolcode.vercel.app/' />
    <meta
      property='og:image'
      content='https://porfolio-maicolcode.vercel.app/maicolcode.webp'
    />
    <meta property='og:type' content='website' />
    <meta property='og:site_name' content='Maicol Paucar - Portfolio' />
    <meta name='generator' content={Astro.generator} />
    <link rel='shortcut icon' href='favicon.svg' type='image/x-icon' />
    <title>{title}</title>
  </head>
  <body class='font-light text-lg text-zinc-800 dark:text-zinc-100'>
    <div
      class='fixed top-0 z-[-2] min-h-screen w-full bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)] dark:bg-zinc-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]'
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>

  <style is:global>
    :root {
      color-scheme: light dark;
    }

    * {
      font-family:
        'Fredoka Variable',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    }

    html {
      scroll-behavior: smooth;
    }

    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 20px;
      scroll-behavior: none;
      overflow-x: hidden;
      color: var(--color-zinc-800);
    }

    @media (prefers-color-scheme: dark) {
      body {
        color: var(--color-zinc-100);
      }
    }
  </style>
</html>
